APDPlat_Core/target/
APDPlat_Core/.settings/
APDPlat_Core/.classpath
APDPlat_Core/.project
APDPlat_Module/target/
APDPlat_Module/.settings/
APDPlat_Module/.classpath
APDPlat_Module/.project
APDPlat_Web/target/
APDPlat_Web/.settings/
APDPlat_Web/.classpath
APDPlat_Web/.project
APDPlat_Web/src/main/webapp/WEB-INF/lib-jdbc-driver-not-in-use/
APDPlat_Web/src/main/webapp/WEB-INF/lib/server
APDPlat_Web/src/main/webapp/WEB-INF/licence
APDPlat_Web/src/main/webapp/platform/css/module.css
APDPlat_Web/src/main/webapp/platform/css/operation.css
APDPlat_Web/src/main/webapp/platform/js/dic.js
APDPlat.iml
APDPlat.ipr
APDPlat.iws
.idea/
.gradle/
build/
logs/
data/
APDPlat_Core/APDPlat_Core.iml
APDPlat_Core/APDPlat_Core.ipr
APDPlat_Core/APDPlat_Core.iws
APDPlat_Core/.idea/
APDPlat_Core/.gradle/
APDPlat_Core/build/
APDPlat_Core/logs/
APDPlat_Core/data/
APDPlat_Module/APDPlat_Module.iml
APDPlat_Module/APDPlat_Module.ipr
APDPlat_Module/APDPlat_Module.iws
APDPlat_Module/.idea/
APDPlat_Module/.gradle/
APDPlat_Module/build/
APDPlat_Module/logs/
APDPlat_Module/data/
APDPlat_Web/APDPlat_Web.iml
APDPlat_Web/APDPlat_Web.ipr
APDPlat_Web/APDPlat_Web.iws
APDPlat_Web/.idea/
APDPlat_Web/.gradle/
APDPlat_Web/build/
APDPlat_Web/logs/
APDPlat_Web/data/
APDPlat_Web/src/main/webapp/platform/include/apdplat_merge.css
APDPlat_Web/src/main/webapp/platform/include/apdplat_merge.js
APDPlat_Web/src/main/webapp/extjs/css/extjs_css_merge.css
APDPlat_Web/src/main/webapp/extjs/js/extjs_js_merge.js
APDPlat_Web/src/main/webapp/extjs/ux/extjs_ux_merge.js
APDPlat_Web/src/main/webapp/extjs/ux/css/extjs_ux_css_merge.css
APDPlat_Web/src/main/webapp/FusionCharts/FusionCharts_merge.js
APDPlat_Web/src/main/webapp/ckeditor/ckeditor_merge.js
APDPlat_Web/src/main/webapp/ckfinder/ckfinder_merge.js
APDPlat_Web/src/main/webapp/DateTime/DateTime_merge.css
APDPlat_Web/src/main/webapp/DateTime/DateTime_merge.js
APDPlat_Web/src/main/webapp/js/js_merge.js
APDPlat_Web/src/main/webapp/platform/css/platform_css_merge.css
APDPlat_Web/src/main/webapp/platform/js/platform_js_merge.js
APDPlat_Web/src/main/webapp/css/login_merge.css
APDPlat_Web/src/main/webapp/js/login_merge.js
APDPlat_Web/nb-configuration.xml
.settings/
.classpath
.project
target/
