APDPlat_Core/target/
APDPlat_Core/.settings/
APDPlat_Core/.classpath
APDPlat_Core/.project
APDPlat_Module/target/
APDPlat_Module/.settings/
APDPlat_Module/.classpath
APDPlat_Module/.project
APDPlat_Web/target/
APDPlat_Web/.settings/
APDPlat_Web/.classpath
APDPlat_Web/.project
.settings/
.classpath
.project
target/