.x-drag-overlay {background-image:url(../images/blue/s.gif);}
div.x-toolbar-no-items {color-color:#868b69;}
/* IE6 strict won't drag w/out a color */
.ext-strict .ext-ie6 .x-layout-split {background-color-color:#f4f4f0;}
.x-layout-split-h {background-image:url(../images/blue/s.gif);}
.x-layout-split-v {background-image:url(../images/blue/s.gif);}
.ext-el-mask {background-color:#c8cab9;}
.ext-el-mask-msg {border-color:#af4adb;background-color:#e4a9fd;background-image:url(../images/blue/box/tb-blue.gif);}
.ext-el-mask-msg div {background-color:#e5e6de;border-color:#c68bde;color:#24251c;}
.x-mask-loading div {background-color:#f0f1ec;background-image:url(../images/blue/grid/loading.gif);}
.x-item-disabled {color:#868b69;}
.x-item-disabled * {color-color:#868b69;}
.x-splitbar-proxy {background-color:#abaf94;}
.x-color-palette a {border-color:#f4f4f0;}
.x-color-palette a:hover, .x-color-palette a.x-color-palette-sel {border-color:#d26ffc;background-color:#ecc4ff;}
.x-color-palette em:hover, .x-color-palette span:hover {background-color:#ecc4ff;}
.x-color-palette em {border-color:#86b382;}
.x-ie-shadow {background-color:#7d8161;}
.loading-indicator {background-image:url(../images/blue/grid/loading.gif);}
.x-spotlight {background-color:#c8cab9;}
.x-tab-panel-header, .x-tab-panel-footer {background-color:#ecc4ff;border-color:#c773eb;}
.x-tab-panel-header, .x-tab-panel-footer {border-color:#c773eb;}
ul.x-tab-strip-top {background-color:#e3b6f7;background-image:url(../images/blue/tabs/tab-strip-bg.gif);border-bottom-color:#c773eb;}
ul.x-tab-strip-bottom {background-color:#e3b6f7;background-image:url(../images/blue/tabs/tab-strip-btm-bg.gif);border-top-color:#c773eb;}
.x-tab-panel-header-plain .x-tab-strip-spacer,
.x-tab-panel-footer-plain .x-tab-strip-spacer {border-color:#c773eb;background-color:#ecc4ff;}
.x-tab-strip span.x-tab-strip-text {color:#872faa;}
.x-tab-strip-over span.x-tab-strip-text {color:#6e098f;}
.x-tab-strip-active span.x-tab-strip-text {color:#6e098f;}
.x-tab-strip-disabled .x-tabs-text {color:#abaf94;}
.x-tab-strip-top .x-tab-right, .x-tab-strip-top .x-tab-left, .x-tab-strip-top .x-tab-strip-inner {background-image:url(../images/blue/tabs/tabs-sprite.gif);}
.x-tab-strip-bottom .x-tab-right {background-image:url(../images/blue/tabs/tab-btm-inactive-right-bg.gif);}
.x-tab-strip-bottom .x-tab-left {background-image:url(../images/blue/tabs/tab-btm-inactive-left-bg.gif);}
.x-tab-strip-bottom .x-tab-strip-over .x-tab-right {background-image:url(../images/blue/tabs/tab-btm-over-right-bg.gif);}
.x-tab-strip-bottom .x-tab-strip-over .x-tab-left {background-image:url(../images/blue/tabs/tab-btm-over-left-bg.gif);}
.x-tab-strip-bottom .x-tab-strip-active .x-tab-right {background-image:url(../images/blue/tabs/tab-btm-right-bg.gif);}
.x-tab-strip-bottom .x-tab-strip-active .x-tab-left {background-image:url(../images/blue/tabs/tab-btm-left-bg.gif);}
.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close {background-image:url(../images/blue/tabs/tab-close.gif);}
.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close:hover {background-image:url(../images/blue/tabs/tab-close.gif);}
.x-tab-panel-body {border-color:#c773eb;background-color:#f4f4f0;}
.x-tab-scroller-left {background-image:url(../images/blue/tabs/scroll-left.gif);border-bottom-color:#c773eb;}
.x-tab-scroller-right {background-image:url(../images/blue/tabs/scroll-right.gif);border-bottom-color:#c773eb;}
.x-tab-panel-bbar .x-toolbar, .x-tab-panel-tbar .x-toolbar {border-color:#cd7fef;}
.x-form-select-one {background-color:#f4f4f0;border-color:#c9a0ca;}
.x-form-check-group-label {border-bottom-color:#cd7fef;color:#6e098f;}
.x-editor .x-form-check-wrap {background-color:#f4f4f0;}
.x-form-field-wrap .x-form-trigger {background-image:url(../images/blue/form/trigger.gif);border-bottom-color:#c9a0ca;}
.x-form-field-wrap .x-form-date-trigger {background-image:url(../images/blue/form/date-trigger.gif);}
.x-form-field-wrap .x-form-clear-trigger {background-image:url(../images/blue/form/clear-trigger.gif);}
.x-form-field-wrap .x-form-search-trigger {background-image:url(../images/blue/form/search-trigger.gif);}
.x-trigger-wrap-focus .x-form-trigger {border-bottom-color:#b264e2;}
.x-item-disabled .x-form-trigger-over {border-bottom-color:#c9a0ca;}
.x-item-disabled .x-form-trigger-click {border-bottom-color:#c9a0ca;}
.x-form-focus, textarea.x-form-focus {border-color:#b264e2;}
.x-form-invalid-msg {color:#b3c616;}
.x-form-empty-field {color:#868b69;}
.x-fieldset {border-color:#c9a0ca;}
.x-fieldset legend {color:#6e098f;}
.x-btn button {color:#35372a;}
.x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-bl, .x-btn-br, .x-btn-bc {background-image:url(../images/blue/button/btn.gif);}
.x-btn-disabled * {color-color:#868b69;}
.x-btn-mc em.x-btn-arrow {background-image:url(../images/blue/button/arrow.gif);}
.x-btn-mc em.x-btn-split {background-image:url(../images/blue/button/s-arrow.gif);}
.x-btn-over .x-btn-mc em.x-btn-split, .x-btn-click .x-btn-mc em.x-btn-split, .x-btn-menu-active .x-btn-mc em.x-btn-split, .x-btn-pressed .x-btn-mc em.x-btn-split {background-image:url(../images/blue/button/s-arrow-o.gif);}
.x-btn-mc em.x-btn-arrow-bottom {background-image:url(../images/blue/button/s-arrow-b-noline.gif);}
.x-btn-mc em.x-btn-split-bottom {background-image:url(../images/blue/button/s-arrow-b.gif);}
.x-btn-over .x-btn-mc em.x-btn-split-bottom, .x-btn-click .x-btn-mc em.x-btn-split-bottom, .x-btn-menu-active .x-btn-mc em.x-btn-split-bottom, .x-btn-pressed .x-btn-mc em.x-btn-split-bottom {background-image:url(../images/blue/button/s-arrow-bo.gif);}
.x-btn-group-header {color:#8c2bb1;}
.x-btn-group-tc {background-image:url(../images/blue/button/group-tb.gif);}
.x-btn-group-tl {background-image:url(../images/blue/button/group-cs.gif);}
.x-btn-group-tr {background-image:url(../images/blue/button/group-cs.gif);}
.x-btn-group-bc {background-image:url(../images/blue/button/group-tb.gif);}
.x-btn-group-bl {background-image:url(../images/blue/button/group-cs.gif);}
.x-btn-group-br {background-image:url(../images/blue/button/group-cs.gif);}
.x-btn-group-ml {background-image:url(../images/blue/button/group-lr.gif);}
.x-btn-group-mr {background-image:url(../images/blue/button/group-lr.gif);}
.x-btn-group-notitle .x-btn-group-tc {background-image:url(../images/blue/button/group-tb.gif);}
.x-toolbar {border-color:#bc92d7;background-color:#e0b9f0;background-image:url(../images/blue/toolbar/bg.gif);}
.x-toolbar .x-item-disabled {color:#868b69;}
.x-toolbar .x-item-disabled * {color:#868b69;}
.x-toolbar .x-btn-mc em.x-btn-split {background-image:url(../images/blue/button/s-arrow-noline.gif);}
.x-toolbar .x-btn-over .x-btn-mc em.x-btn-split, .x-toolbar .x-btn-click .x-btn-mc em.x-btn-split,
.x-toolbar .x-btn-menu-active .x-btn-mc em.x-btn-split, .x-toolbar .x-btn-pressed .x-btn-mc em.x-btn-split {background-image:url(../images/blue/button/s-arrow-o.gif);}
.x-toolbar .x-btn-mc em.x-btn-split-bottom {background-image:url(../images/blue/button/s-arrow-b-noline.gif);}
.x-toolbar .x-btn-over .x-btn-mc em.x-btn-split-bottom, .x-toolbar .x-btn-click .x-btn-mc em.x-btn-split-bottom,
.x-toolbar .x-btn-menu-active .x-btn-mc em.x-btn-split-bottom, .x-toolbar .x-btn-pressed .x-btn-mc em.x-btn-split-bottom {background-image:url(../images/blue/button/s-arrow-bo.gif);}
.x-toolbar .xtb-sep {background-image:url(../images/blue/grid/grid-blue-split.gif);}
.x-tbar-page-first {background-image-image:url(../images/blue/grid/page-first.gif);}
.x-tbar-page-last {background-image-image:url(../images/blue/grid/page-last.gif);}
.x-tbar-page-next {background-image-image:url(../images/blue/grid/page-next.gif);}
.x-tbar-page-prev {background-image-image:url(../images/blue/grid/page-prev.gif);}
.x-item-disabled .x-tbar-loading {background-image-image:url(../images/blue/grid/loading.gif);}
.x-item-disabled .x-tbar-page-first {background-image-image:url(../images/blue/grid/page-first-disabled.gif);}
.x-item-disabled .x-tbar-page-last {background-image-image:url(../images/blue/grid/page-last-disabled.gif);}
.x-item-disabled .x-tbar-page-next {background-image-image:url(../images/blue/grid/page-next-disabled.gif);}
.x-item-disabled .x-tbar-page-prev {background-image-image:url(../images/blue/grid/page-prev-disabled.gif);}
.x-paging-info {color:#474a38;}
.x-toolbar-more-icon {background-image-image:url(../images/blue/toolbar/more.gif);}
.x-resizable-handle {background-color:#f4f4f0;}
.x-resizable-over .x-resizable-handle-east, .x-resizable-pinned .x-resizable-handle-east,
.x-resizable-over .x-resizable-handle-west, .x-resizable-pinned .x-resizable-handle-west {background-image:url(../images/blue/sizer/e-handle.gif);}
.x-resizable-over .x-resizable-handle-south, .x-resizable-pinned .x-resizable-handle-south,
.x-resizable-over .x-resizable-handle-north, .x-resizable-pinned .x-resizable-handle-north {background-image:url(../images/blue/sizer/s-handle.gif);}
.x-resizable-over .x-resizable-handle-north, .x-resizable-pinned .x-resizable-handle-north {background-image:url(../images/blue/sizer/s-handle.gif);}
.x-resizable-over .x-resizable-handle-southeast, .x-resizable-pinned .x-resizable-handle-southeast {background-image:url(../images/blue/sizer/se-handle.gif);}
.x-resizable-over .x-resizable-handle-northwest, .x-resizable-pinned .x-resizable-handle-northwest {background-image:url(../images/blue/sizer/nw-handle.gif);}
.x-resizable-over .x-resizable-handle-northeast, .x-resizable-pinned .x-resizable-handle-northeast {background-image:url(../images/blue/sizer/ne-handle.gif);}
.x-resizable-over .x-resizable-handle-southwest, .x-resizable-pinned .x-resizable-handle-southwest {background-image:url(../images/blue/sizer/sw-handle.gif);}
.x-resizable-proxy {border-color:#6c2b88;}
.x-resizable-overlay {background-color:#f4f4f0;}
.x-grid3 {background-color:#f4f4f0;}
.x-grid-panel .x-panel-mc .x-panel-body {border-color:#cd7fef;}
.x-grid3-hd-row td {border-left-color:#e5e6de;border-right-color:#cbcebe;}
.x-grid-row-loading {background-color:#f4f4f0;background-image:url(../images/blue/shared/loading-balls.gif);}
.x-grid3-row {border-color:#e4e5dd;border-top-color:#f4f4f0;}
.x-grid3-row-alt {background-color:#eff0eb;}
.x-grid3-row-over {border-color:#d7d8cc;background-color:#e6e7df;background-image:url(../images/blue/grid/row-over.gif);}
.x-grid3-resize-proxy {background-color:#7d8161;}
.x-grid3-resize-marker {background-color:#7d8161;}
.x-grid3-header {background-color:#eeefea;background-image:url(../images/blue/grid/grid3-hrow.gif);}
.x-grid3-header-pop {border-left-color:#cbcebe;}
.x-grid3-header-pop-inner {border-left-color:#e5e6de;background-image:url(../images/blue/grid/hd-pop.gif);}
td.x-grid3-hd-over, td.sort-desc, td.sort-asc, td.x-grid3-hd-menu-open {border-left-color:#da8ffc;border-right-color:#da8ffc;}
td.x-grid3-hd-over .x-grid3-hd-inner, td.sort-desc .x-grid3-hd-inner, td.sort-asc .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner {background-color:#f0d2fe;background-image:url(../images/blue/grid/grid3-hrow-over.gif);}
.sort-asc .x-grid3-sort-icon {background-image:url(../images/blue/grid/sort_asc.gif);}
.sort-desc .x-grid3-sort-icon {background-image:url(../images/blue/grid/sort_desc.gif);}
.x-grid3-split {background-image:url(../images/blue/grid/grid-split.gif);}
.x-grid3-hd-text {color:#6e098f;}
.x-dd-drag-proxy .x-grid3-hd-inner {background-color:#f0d2fe;background-image:url(../images/blue/grid/grid3-hrow-over.gif);border-color:#da8ffc;}
.col-move-top {background-image:url(../images/blue/grid/col-move-top.gif);}
.col-move-bottom {background-image:url(../images/blue/grid/col-move-bottom.gif);}
.x-grid3-row-selected {background-color-color:#eac8f5;border-color:#db8aef;}
.x-grid3-cell-selected {background-color-color:#da9ff2;}
.x-grid3-locked td.x-grid3-row-marker, .x-grid3-locked .x-grid3-row-selected td.x-grid3-row-marker {background-color-color:#c7e8c9;background-image-image:url(../images/blue/grid/grid-hrow.gif);border-top-color:#f4f4f0;border-right-color-color:#bc54e9;}
.x-grid3-locked td.x-grid3-row-marker div, .x-grid3-locked .x-grid3-row-selected td.x-grid3-row-marker div {color-color:#6e098f;}
.x-grid3-bottombar .x-toolbar {border-top-color:#bc92d7;}
.x-props-grid .x-grid3-td-name .x-grid3-cell-inner {background-image-image:url(../images/blue/grid/grid3-special-col-bg.gif);}
.x-props-grid .x-grid3-body .x-grid3-td-name {background-color-color:#f4f4f0;border-right-color:#e5e6de;}
.x-grid3-hd-btn {background-color:#e4a9fd;background-image:url(../images/blue/grid/grid3-hd-btn.gif);}
.x-grid3-body .x-grid3-td-expander {background-image:url(../images/blue/grid/grid3-special-col-bg.gif);}
.x-grid3-row-expander {background-image:url(../images/blue/grid/row-expand-sprite.gif);}
.x-grid3-body .x-grid3-td-checker {background-image:url(../images/blue/grid/grid3-special-col-bg.gif);}
.x-grid3-row-checker, .x-grid3-hd-checker {background-image:url(../images/blue/grid/row-check-sprite.gif);}
.x-grid3-body .x-grid3-td-numberer {background-image:url(../images/blue/grid/grid3-special-col-bg.gif);}
.x-grid3-body .x-grid3-td-numberer .x-grid3-cell-inner {color:#474a38;}
.x-grid3-body .x-grid3-td-row-icon {background-image:url(../images/blue/grid/grid3-special-col-bg.gif);}
.x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer,
.x-grid3-body .x-grid3-row-selected .x-grid3-td-checker,
.x-grid3-body .x-grid3-row-selected .x-grid3-td-expander {background-image:url(../images/blue/grid/grid3-special-col-sel-bg.gif);}
.x-grid3-check-col {background-image:url(../images/blue/menu/unchecked.gif);}
.x-grid3-check-col-on {background-image:url(../images/blue/menu/checked.gif);}
.x-grid-group-hd {border-bottom-color:#cd7fef;}
.x-grid-group-hd div.x-grid-group-title {background-image:url(../images/blue/grid/group-collapse.gif);color:#8026a6;}
.x-grid-group-collapsed .x-grid-group-hd div.x-grid-group-title {background-image:url(../images/blue/grid/group-expand.gif);}
.x-group-by-icon {background-image:url(../images/blue/grid/group-by.gif);}
.x-cols-icon {background-image:url(../images/blue/grid/columns.gif);}
.x-show-groups-icon {background-image:url(../images/blue/grid/group-by.gif);}
.x-grid-empty {color:#868b69;}
.x-grid-with-col-lines .x-grid3-row td.x-grid3-cell {border-right-color:#e4e5dd;}
.x-grid-with-col-lines .x-grid3-row-selected {border-top-color:#db8aef;}
.x-dd-drag-ghost {border-color-color:#d7d8cc;border-color-color:#babca7;border-color-color:#babca7;border-color-color:#d7d8cc;background-color:#f4f4f0;}
.x-view-selector {background-color:#e4a9fd;border-color:#5e21c1;}
.x-tree-node-loading a span {color:#474a38;}
.x-tree-node .x-tree-node-disabled a span {color-color:#868b69;}
.x-tree-node div.x-tree-drag-insert-below {border-bottom-color:#af1fd3;}
.x-tree-node div.x-tree-drag-insert-above {border-top-color:#af1fd3;}
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-below a {border-bottom-color:#af1fd3;}
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-above a {border-top-color:#af1fd3;}
.x-tree-node .x-tree-drag-append a span {background-color:#d7d8cc;border-color:#868b69;}
.x-tree-node .x-tree-node-over {background-color:#e5e6de;}
.x-tree-node .x-tree-selected {background-color:#eabffd;}
.x-date-picker {border-color:#5b1170;background-color:#f4f4f0;}
.x-date-middle,.x-date-left,.x-date-right {background-image:url(../images/blue/shared/hd-sprite.gif);color:#f4f4f0;}
.x-date-middle .x-btn .x-btn-text {color:#f4f4f0;}
.x-date-middle .x-btn-mc em.x-btn-arrow {background-image:url(../images/blue/toolbar/btn-arrow-light.gif);}
.x-date-right a {background-image:url(../images/blue/shared/right-btn.gif);}
.x-date-left a {background-image:url(../images/blue/shared/left-btn.gif);}
.x-date-inner th {background-color:#eac6fd;background-image:url(../images/blue/shared/glass-bg.gif);border-bottom-color:#c68bde;color:#5e1871;}
.x-date-inner td {border-color:#f4f4f0;}
.x-date-inner .x-date-selected a {background-color:#eac6fd;background-image:url(../images/blue/shared/glass-bg.gif);border-color:#c773eb;}
.x-date-inner .x-date-today a {border-color:#728400;}
.x-date-inner .x-date-prevday a,.x-date-inner .x-date-nextday a {color:#abaf94;}
.x-date-bottom {border-top-color:#c68bde;background-color:#eac6fd;background-image:url(../images/blue/shared/glass-bg.gif);}
.x-date-inner a:hover, .x-date-inner .x-date-disabled a:hover {background-color:#ecc4ff;}
.x-date-inner .x-date-disabled a {background-color:#e5e6de;color:#babca7;}
.x-date-mmenu {background-color-color:#e5e6de;}
.x-date-mp {background-color:#f4f4f0;}
.x-date-mp-btns button {background-color:#500074;color:#f4f4f0;border-color-color:#af1fd3;border-color-color:#510046;border-color-color:#510046;border-color-color:#af1fd3;}
.x-date-mp-btns {background-color:#eac6fd;background-image:url(../images/blue/shared/glass-bg.gif);}
.x-date-mp-btns td {border-top-color:#ceb0df;}
td.x-date-mp-month a,td.x-date-mp-year a {color:#6e098f;}
td.x-date-mp-month a:hover,td.x-date-mp-year a:hover {color:#6e098f;background-color:#ecc4ff;}
td.x-date-mp-sel a {background-color:#eac6fd;background-image:url(../images/blue/shared/glass-bg.gif);border-color:#c773eb;}
.x-date-mp-ybtn a {background-image:url(../images/blue/panel/tool-sprites.gif);}
td.x-date-mp-sep {border-right-color:#ceb0df;}
.x-menu {background-color:#e7e8e0;background-image:url(../images/blue/menu/menu.gif);}
.x-menu-floating {border-color:#a957c2;}
.x-menu-item-arrow {background-image:url(../images/blue/menu/menu-parent.gif);}
.x-menu-sep {background-color:#d9dbcf;border-bottom-color:#f4f4f0;}
a.x-menu-item {color:#24251c;}
.x-menu-item-active {background-image:url(../images/blue/menu/item-over.gif);background-color:#dac4f3;border-color:#da8ffc;}
.x-menu-item-active a.x-menu-item {border-color:#da8ffc;}
.x-menu-check-item .x-menu-item-icon {background-image:url(../images/blue/menu/unchecked.gif);}
.x-menu-item-checked .x-menu-item-icon {background-image:url(../images/blue/menu/checked.gif);}
.x-menu-item-checked .x-menu-group-item .x-menu-item-icon {background-image:url(../images/blue/menu/group-checked.gif);}
.x-menu-plain {background-color-color:#e7e8e0;}
.x-date-menu, .x-color-menu {background-color-color:#f4f4f0;}
.x-menu .x-date-picker {border-color:#c68bde;}
.x-cycle-menu .x-menu-item-checked {border-color-color:#db8aef;background-color:#c9c6f8;}
.x-menu-scroller-top {background-image:url(../images/blue/layout/mini-top.gif);}
.x-menu-scroller-bottom {background-image:url(../images/blue/layout/mini-bottom.gif);}
.x-box-tl {background-image:url(../images/blue/box/corners.gif);}
.x-box-tc {background-image:url(../images/blue/box/tb.gif);}
.x-box-tr {background-image:url(../images/blue/box/corners.gif);}
.x-box-ml {background-image:url(../images/blue/box/l.gif);}
.x-box-mc {background-color:#e5e6de;background-image:url(../images/blue/box/tb.gif);color:#3c3e2f;}
.x-box-mr {background-image:url(../images/blue/box/r.gif);}
.x-box-bl {background-image:url(../images/blue/box/corners.gif);}
.x-box-bc {background-image:url(../images/blue/box/tb.gif);}
.x-box-br {background-image:url(../images/blue/box/corners.gif);}
.x-box-blue .x-box-bl, .x-box-blue .x-box-br, .x-box-blue .x-box-tl, .x-box-blue .x-box-tr {background-image:url(../images/blue/box/corners-blue.gif);}
.x-box-blue .x-box-bc, .x-box-blue .x-box-mc, .x-box-blue .x-box-tc {background-image:url(../images/blue/box/tb-blue.gif);}
.x-box-blue .x-box-mc {background-color:#e4a9fd;}
.x-box-blue .x-box-mc h3 {color:#420e5e;}
.x-box-blue .x-box-ml {background-image:url(../images/blue/box/l-blue.gif);}
.x-box-blue .x-box-mr {background-image:url(../images/blue/box/r-blue.gif);}
.x-combo-list {border-color:#d57dfb;background-color:#ecc4ff;}
.x-combo-list-inner {background-color:#f4f4f0;}
.x-combo-list-hd {color:#6e098f;background-image:url(../images/blue/layout/panel-title-light-bg.gif);border-bottom-color:#d57dfb;}
.x-resizable-pinned .x-combo-list-inner {border-bottom-color:#d57dfb;}
.x-combo-list-item {border-color:#f4f4f0;}
.x-combo-list .x-combo-selected {border-color-color:#db8aef;background-color:#eac8f5;}
.x-combo-list .x-toolbar {border-top-color:#d57dfb;}
.x-panel {border-color:#cd7fef;}
.x-panel-header {color:#6e098f;border-color:#cd7fef;background-image:url(../images/blue/panel/white-top-bottom.gif);}
.x-panel-body {border-color:#cd7fef;background-color:#f4f4f0;}
.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {border-color:#cd7fef;}
.x-panel-tbar-noheader .x-toolbar, .x-panel-mc .x-panel-tbar .x-toolbar {border-top-color:#cd7fef;}
.x-panel-body-noheader, .x-panel-mc .x-panel-body {border-top-color:#cd7fef;}
.x-panel-tl .x-panel-header {color:#6e098f;}
.x-panel-tc {background-image:url(../images/blue/panel/top-bottom.gif);}
.x-panel-tl, .x-panel-tr, .x-panel-bl,  .x-panel-br {background-image:url(../images/blue/panel/corners-sprite.gif);border-bottom-color:#cd7fef;}
.x-panel-bc {background-image:url(../images/blue/panel/top-bottom.gif);}
.x-panel-mc {background-color:#eac8f5;}
.x-panel-ml {background-color:#f4f4f0;background-image:url(../images/blue/panel/left-right.gif);}
.x-panel-mr {background-image:url(../images/blue/panel/left-right.gif);}
.x-tool {background-image:url(../images/blue/panel/tool-sprites.gif);}
.x-panel-ghost {background-color:#e0b3f5;}
.x-panel-ghost ul {border-color:#cd7fef;}
.x-panel-dd-spacer {border-color:#cd7fef;}
.x-window-proxy {background-color:#e5adff;border-color:#cd7fef;}
.x-window-tl .x-window-header {color:#6e098f;}
.x-window-tc {background-image:url(../images/blue/window/top-bottom.png);}
.x-window-tl {background-image:url(../images/blue/window/left-corners.png);}
.x-window-tr {background-image:url(../images/blue/window/right-corners.png);}
.x-window-bc {background-image:url(../images/blue/window/top-bottom.png);}
.x-window-bl {background-image:url(../images/blue/window/left-corners.png);}
.x-window-br {background-image:url(../images/blue/window/right-corners.png);}
.x-window-mc {border-color:#cd7fef;background-color:#eac8f5;}
.x-window-ml {background-image:url(../images/blue/window/left-right.png);}
.x-window-mr {background-image:url(../images/blue/window/left-right.png);}
.x-window-maximized .x-window-tc {background-color:#f4f4f0;}
.x-window-bbar .x-toolbar {border-top-color:#cd7fef;}
.x-panel-ghost .x-window-tl {border-bottom-color:#cd7fef;}
.x-panel-collapsed .x-window-tl {border-bottom-color:#af6bcd;}
.x-dlg-mask {background-color:#c8cab9;}
.x-window-plain .x-window-mc {background-color:#d7b6e8;border-color-color:#db8aef;border-color-color:#eac8f5;border-color-color:#eac8f5;border-color-color:#db8aef;}
.x-window-plain .x-window-body {border-color-color:#eac8f5;border-color-color:#db8aef;border-color-color:#db8aef;border-color-color:#eac8f5;}
body.x-body-masked .x-window-plain .x-window-mc {background-color:#d7b6e8;}
.x-html-editor-wrap {border-color:#bc92d7;background-color:#f4f4f0;}
.x-panel-noborder .x-panel-header-noborder {border-bottom-color:#cd7fef;}
.x-panel-noborder .x-panel-tbar-noborder .x-toolbar {border-bottom-color:#cd7fef;}
.x-panel-noborder .x-panel-bbar-noborder .x-toolbar {border-top-color:#cd7fef;}
.x-tab-panel-bbar-noborder .x-toolbar {border-top-color:#cd7fef;}
.x-tab-panel-tbar-noborder .x-toolbar {border-bottom-color:#cd7fef;}
.x-border-layout-ct {background-color:#eac8f5;}
.x-accordion-hd {color:#24251c;background-image:url(../images/blue/panel/light-hd.gif);}
.x-layout-collapsed {background-color:#e2bbf3;border-color:#d57dfb;}
.x-layout-collapsed-over {background-color:#eabffd;}
.x-layout-split-west .x-layout-mini {background-image:url(../images/blue/layout/mini-left.gif);}
.x-layout-split-east .x-layout-mini {background-image:url(../images/blue/layout/mini-right.gif);}
.x-layout-split-north .x-layout-mini {background-image:url(../images/blue/layout/mini-top.gif);}
.x-layout-split-south .x-layout-mini {background-image:url(../images/blue/layout/mini-bottom.gif);}
.x-layout-cmini-west .x-layout-mini {background-image:url(../images/blue/layout/mini-right.gif);}
.x-layout-cmini-east .x-layout-mini {background-image:url(../images/blue/layout/mini-left.gif);}
.x-layout-cmini-north .x-layout-mini {background-image:url(../images/blue/layout/mini-bottom.gif);}
.x-layout-cmini-south .x-layout-mini {background-image:url(../images/blue/layout/mini-top.gif);}
.x-progress-wrap {border-color:#af4adb;}
.x-progress-inner {background-color:#e6cbf1;background-image:url(../images/blue/qtip/bg.gif);}
.x-progress-bar {background-color:#d382f5;background-image:url(../images/blue/progress/progress-bg.gif);border-top-color:#eab8ff;border-bottom-color:#c664ed;border-right-color:#c664ed;}
.x-progress-text {color:#f4f4f0;}
.x-progress-text-back {color:#7a289b;}
.x-list-header {background-color:#eeefea;background-image:url(../images/blue/grid/grid3-hrow.gif);}
.x-list-header-inner div em {border-left-color:#d7d8cc;}
.x-list-over {background-color:#e5e6de;}
.x-list-selected {background-color:#eac8f5;}
.x-list-resizer {border-left-color:#595c45;border-right-color:#595c45;}
.x-list-header-inner em.sort-asc, .x-list-header-inner em.sort-desc {background-image:url(../images/blue/grid/sort-hd.gif);border-color:#cd7fef;}
.x-slider-horz, .x-slider-horz .x-slider-end, .x-slider-horz .x-slider-inner {background-image:url(../images/blue/slider/slider-bg.png);}
.x-slider-horz .x-slider-thumb {background-image:url(../images/blue/slider/slider-thumb.png);}
.x-slider-vert, .x-slider-vert .x-slider-end, .x-slider-vert .x-slider-inner {background-image:url(../images/blue/slider/slider-v-bg.png);}
.x-slider-vert .x-slider-thumb {background-image:url(../images/blue/slider/slider-v-thumb.png);}
.x-window-dlg .x-msg-box-wait {background-image:url(../images/blue/grid/loading.gif);}
