
.icon-user {
	background-image:url(../images/qq/user1.gif) !important;
}
.icon-im {
	background-image:url(../images/qq/im.gif) !important;
}

.icon-online {
	background-image:url(../images/qq/online.gif) !important;
}

.icon-timelist {
	background-image:url(../images/qq/timelist.gif) !important;
}

.icon-help {
	background-image:url(../images/qq/help.gif) !important;
}

.icon-zoom {
	background-image:url(../images/qq/zoom.gif) !important;
}
.icon-code {
	background-image:url(../images/qq/code.gif) !important;
}

.icon-img {
	background-image:url(../images/qq/img.gif) !important;
}